<div class="items">
	<h4>{{fields.title.content}}</h4>
	<p>
		{{fields.field_para.content}}</p>
	{# <p>
		{{fields.field_para.content}}</p> #}
    {# <a href="{{fields.title.content.0['#url']}}">{{fields.title.content.0['#title']}}</a> #}
</div>
