{{content.field_para | without ('field_generic_section_title_doc')}}
<div class="custom-view">
<div class="three-column-pdf-list">
	<div class="container-1680">
		<h2 class="h2-34">{{content.field_generic_section_title_doc}}</h2>
		{{ drupal_view('block_document_media', 'block_1',node.id) }}
	</div>
</div>
</div>

{# 
<div class="three-column-pdf-list">
	<div class="container-1680">
		{{content.field_term}}
		<ul>
			{{content.field_document_library_media}}
		</ul>
	</div>
</div> #}
{# 
<style>
.generic{
  margin-top: 50px;
}
</style> #}