{{content | without ('field_sidebar_nav_visibility')}}
<div class="three-column-pdf-list">
	<div class="container-1680">
		<h2 class="h2-34">{{content.field_generic_section_title_doc}}</h2>
		{{ drupal_view('block_document_media', 'block_1',node.id) }}
	</div>
</div>
<div class="faq-accordian">
	<div class="container-885">
  <h2 class="h2-34">{{content.field_generic_section_title_faq}}</h2>
		{{ drupal_view('faq', 'block_1',node.id) }}
	</div>
</div>
