<li>
	<div class="image-section">
		{{content.field_media_img}}
	</div>
	<div class="content">
		<h2>{{content.field_card_title}}</h3>
		<p>
			{{content.field_card_content}}</p>
		<a href='{{content.field_card_link.0['#url']}}' class="btn--primary">{{content.field_card_link.0['#title']}}</a>
	</div>


</li>
