{% set title = content.field_card_link.0['#title']|render|striptags|trim %}
<li>
	<div class="image-section">
		{{content.field_media_img}}
	</div>
	<div class="content">
		<h2>{{content.field_card_title}}</h3>
		<p>
			{{content.field_card_content}}</p>
		{% if content.field_card_link.0['#url'].isEmpty() == FALSE %}
			<a href='{{content.field_card_link.0['#url']}}' title="{{title}}" class="btn--primary">{{content.field_card_link.0['#title']}}</a>
			{%endif%}
		</div>
	</li>
</li>

